/*
 * 
 * Checklinks v0.1
 * MTI | BIREME-PAHO-WHO
 *  
 */


/***** COMMON ELEMENTS *****/
h1 {font-size: 31.5px; margin-top: 30px;}
h2 {font-size: 26px;}
h1, h2, h3 {line-height: 20px;}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;	
}
.breadcrumb {
	margin-top: 12px;
	padding: 8px 0px;
	background: none;
}
.brand {
	background: url(../img/logo-top.png) no-repeat center left;
	padding-left: 40px !important;
}
#footer {
	background-color: #F5F5F5;
	border-top: 1px solid #E5E5E5;
	height: 59px;
}
#push {
	height: 59px;
}

/***** LOGIN FORM *****/
.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

/***** EDIT URL *****/
.urlEditor {
	margin-top: 20px;
}
.urlLine {
	margin: 25px 0;
}
.seg-q {
	display: inline-block;
	vertical-align: top;
	margin-top: -4px;
}
.URL-tested {
	font-size: 120%;
	font-weight: bold;
	margin: 4px 0px 16px 0px;
}
.message {
	margin-bottom: 8px;
	color: #666;
	font-size: 85%;
}
.message span {
	font-size: 150%;
	font-weight: bold;
	color: #4d90fe;
}